body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f9fc;
}
.header {
    border-bottom: 1px solid #eee;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.logonav{
    margin-bottom: -18px;
}

.card-produto {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    transition: transform 0.2s;
    border-left: 4px solid var(--bs-danger);
}
.card-produto:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav-pills .nav-link.active, .nav-pills .nav-link:hover {
    background-color: #dc3545 !important;
    color: white !important;
}
.nav-pills .nav-link {
    color: #dc3545;
}
.estoque-low {
    color: #e67e22;
    font-weight: bold;
}